.footer {
  position: absolute;
  left: 0;
  bottom: 0.27rem;
  z-index: 10;
  /* margin-top: .36rem; */
  margin-bottom: 0.73rem;
  width: 100%;
  text-align: center;
  font-size: 9px;
  color: #a5854e;
}
.footer > a {
  display: block;
  margin: 1rem auto 0.5rem auto;
  width: 4.6133rem;
  height: 1.596rem;
  line-height: 1.5rem;
  border-radius: 3px;
  background: url(../../assets/images/twothousand_kin/Verification/button.png);
  background-size: 100% 100%;
  font-size: 0.45rem;
  text-align: center;
  padding-left: 0.1rem;
  /* color: #7c4f32; */
  color: #c82a2b;
  letter-spacing: 0.14rem;
  font-weight: 500;
}
.footer > a:link {
  /* color: #7c4f32; */
  color: #c82a2b;
}
.footer > p {
  font-size: 9px;
  color: #ffe4bc;
}